.section-products{
    padding: 15rem 0;
    background-color:$color-green;
    
}

.section-gallery{
    padding: 15rem 0;
    background-color:$color-white;
}

.section-testimonials{
    margin-top: -25rem;
    padding: 15rem 0;
    background-color:$color-green;

}
